$breakpoint: 1000px;
$max-width: 1340px;

.header {
  border-bottom: 1px solid #ccc;
  position: sticky;
  background: #fff;
  top: 0;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .container {
    padding: 40px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
    }

    .menu-btn {
      background: none;
      border: none;

      .hamburger {
        padding: 4px 8px;
        cursor: pointer;
      }
    }
  }

  nav {
    display: none;
  }

  @media (min-width: $breakpoint) {
    nav {
      display: flex;
      align-items: center;
      gap: 16px;

      .tools {
        display: flex;
        align-items: center;
        gap: 4px;

        img {
          border-radius: 20px;
          padding: 10px;
          cursor: pointer;
          transition: 0.3s all ease-in-out;

          &:hover {
            background: #f5f5f5;
          }
        }
      }

      .avatar {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }

    .menu-btn {
      display: none;
    }

    .container {
      padding: 0px 32px;
      max-width: $max-width;
      margin: auto;
      height: 72px;
    }

    .heading {
      font-size: 32px;
      line-height: 32px;
    }
  }
}
