$breakpoint: 1000px;
$max-width: 1340px;

.header {
  border-bottom: 1px solid #ccc;
  position: sticky;
  background: #fff;
  top: 0;
  z-index: 1000;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .container {
    padding: 40px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .heading {
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
    }

    .hamburger {
      padding: 4px 8px;
      cursor: pointer;
    }
  }

  @media (min-width: $breakpoint) {
    .hamburger {
      display: none;
    }

    .container {
      padding: 0px 32px;
      max-width: $max-width;
      margin: auto;
      height: 72px;
    }

    .heading {
      font-size: 32px;
      line-height: 32px;
    }
  }
}
