$breakpoint: 1000px;

.task-popup_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.5);
  z-index: 1000;

  @media (min-width: $breakpoint) {
    display: none !important;
  }
}

.task-card {
  width: 394px;
  height: max-content;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #F2F4F7);
  background: white;
  padding: 24px 24px 0;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.task-popup {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 24px 24px 0 24px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  animation: slide-up 0.3s ease-in-out;

  &.fullscreen {
    height: 85vh;
  }
}

.task-popup_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.task-popup_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  h3 {
    color: var(--color-gray-900);
    font-family: Work Sans, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}

.task-popup_description {
  border-radius: 8px;
  border: 1px solid var(--color-gray-300);
  background: var(--color-gray-50);
  padding: 12px 14px;
  width: 100%;
  height: 140px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  outline: none;
  font-family: Work Sans, sans-serif;
  resize: none;
}

.task-time_settings {
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    width: calc((100% - 32px) / 3);
    height: 40px;
    border-radius: 8px;
    padding: 10px 6px;
    background-color: white;
    border: 1px solid var(--color-gray-300);
    font-family: Work Sans, Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray-500);
    cursor: pointer;
  }

  input {
    border: none;
    outline: none;
    display: flex;
    font-size: 14px;
    max-width: 115px;

    font-family: Work Sans, Inter, sans-serif;

    flex-direction: row-reverse;
    gap: 5px;
  }

  .task-time_settings_start,
  .task-time_settings_end {
    input {
      transform: translateX(-8px);
    }
  }
}

.task-notification_settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  button {
    background: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

.task-notification_time {
  display: flex;
  align-items: center;
  gap: 5px;
}

.task-popup_actions {
  padding: 32px 0;
  display: flex;
  width: 100%;
  gap: 16px;

  button {
    width: 100%;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.36px;
    border-radius: 8px;
    cursor: pointer;
  }

  .task-popup_cancel,
  .task-popup_delete {
    border: 1px solid var(--color-gray-300);
    background-color: white;
    color: var(--color-gray-700);
  }

  .task-popup_add,
  .task-popup_save,
  .task-popup_edit {
    background-color: var(--color-blue);
    color: white;
    border: none;

    transition: 0.4s background-color ease-in-out;

    &:hover {
      background-color: var(--color-blue-hover);
    }

    &:disabled {
      background-color: var(--color-blue-disabled);
      cursor: not-allowed;
    }
  }
}

.task-details {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .task-detail_item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Work Sans, Inter, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.2px;
    margin-bottom: 8px;
  }
}

.task-toast_progress {
  background-color: #3f5bf6 !important;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
